{{ define "main" }}

    {{ (partial "breadcrumb" .) }}

    <div class="row row-cols-1 row-cols-lg-2 g-3">
        {{ range (.Paginator.Pages) }}
          <div class="col">
            <article class="card node-{{ (.Type) }} h-100">
              <h5 class="card-header">
                <a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a>
              </h5>
              <div class="card-body">
                <div class="node-body">
                    {{ (.Render "summary") }}
                </div>
              </div>
                {{ with (.Params.portfolio) }}
                  <div class="card-footer text-body-secondary small">
                    <ul class="list-inline m-0">
                        {{ if (.date) }}
                          <li class="list-inline-item me-3" data-bs-tooltip data-bs-title='{{ i18n "portfolio.date" }}'>
                            <div class="text-body-secondary">
                              <i class="fas fa-calendar-alt fa-fw me-1"></i>
                                {{ ((.date) | time.Format "2006/01/02") }}
                            </div>
                          </li>
                        {{ end }}
                        {{ if (.url) }}
                          <li class="list-inline-item me-3" data-bs-tooltip data-bs-title='{{ i18n "portfolio.url" }}'>
                            <a class="text-body-secondary" href="{{ (.url) }}" target="_blank" rel="noopener noreferrer" role="button">
                              <i class="fas fa-globe fa-fw"></i>
                            </a>
                          </li>
                        {{ end }}
                    </ul>
                  </div>
                {{ end }}
            </article>
          </div>
        {{ end }}
    </div>

    {{ (partial "pagination" .) }}

{{ end }}
