{{ $token := ((site.Data.api.vk.token) | base64Decode) }}
{{ $version := (site.Data.api.vk.version) }}
{{ $group_id := (site.Data.api.vk.group.id) }}
{{ $group_fields := (site.Data.api.vk.group.fields) }}
{{ $lang := ((.Lang) | default "ru") }}
{{ $ts := (now.Unix) }}
{{ $headers := (dict
"User-Agent" (site.Data.api.user_agent)
) }}

{{ $groups := (getJSON "https://api.vk.com/method/groups.getById?group_ids=" ($group_id) "&fields=" ($group_fields) "&lang=" ($lang) "&access_token=" ($token) "&v=" ($version) "&ts=" ($ts) ($headers)) }}

<article>
  <h2 id="groups" class="text-center text-uppercase border-bottom pb-1 mb-3">
    <a href="#groups">{{ (i18n "vk.groups") }}</a>
  </h2>

    {{ with ($groups.response) }}

      <div class="row row-cols-1 row-cols-lg-2 g-3">

          {{ range . }}

              {{ $type := (.type) }}
              {{ $pid := ((.id) | int) }}
              {{ if (eq ($type) ("group")) }}{{ $type = "club" }}{{end}}
              {{ if (eq ($type) ("page")) }}{{ $type = "public" }}{{ end }}
              {{ $url := (printf "https://vk.com/%s%d" ($type) ($pid)) }}
              {{ $id := (($url) | md5) }}

              <div class="col">
                <article class="card h-100">
                  <h5 class="card-header">
                    <a href="{{ ($url) }}" target="_blank" rel="noopener noreferrer">{{ (.name) }}</a>
                    <span class="badge bg-secondary float-end">{{ (.type) }}</span>
                  </h5>
                  <div class="row g-0 h-100">
                    <div class="col-4">
                      <div class="node-cover text-center p-3">
                        <img src="{{ (.photo_200) }}" class="img-fluid rounded" alt="{{ ((.name) | default (.screen_name)) }}" loading="lazy"/>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <div class="node-body">
                            {{ ((.description) | markdownify) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-muted">
                    <ul class="list-inline m-0">

                        {{ with (.members_count) }}
                          <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "vk.members") }}'>
                            <a class="btn btn-light btn-sm text-muted" href="https://vk.com/search?c%5Bsection%5D=people&c%5Bgroup%5D={{ ($pid) }}" target="_blank" rel="noopener noreferrer" role="button">
                              <i class="fas fa-user fa-fw me-1"></i>
                                {{ . }}
                            </a>
                          </li>
                        {{ end }}

                        {{ with (.site) }}
                          <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "vk.site") }}'>
                              {{ $url := (urls.Parse .) }}
                              {{ $scheme := "http://" }}
                              {{ if ($url.Scheme) }}{{ $scheme = "" }}{{ end }}
                            <a class="btn btn-light btn-sm text-muted" href="{{ ($scheme) }}{{ . }}" target="_blank" rel="noopener noreferrer" role="button">
                              <i class="fas fa-globe fa-fw"></i>
                            </a>
                          </li>
                        {{ end }}

                        {{ with (.id) }}
                          <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "vk.wall") }}'>
                            <button type="button" class="btn btn-light btn-sm text-muted" data-bs-toggle="modal" data-bs-target="#modal-vk-wall-{{ ($id) }}" role="button">
                              <i class="fas fa-book fa-fw"></i>
                            </button>
                          </li>
                        {{ end }}

                    </ul>
                  </div>
                </article>
              </div>

              {{ (partial "module/vk/wall.modal" (dict
              "id" ($id)
              "title" (.name)
              "token" ($token)
              "version" ($version)
              "owner" ((.id) | int)
              "language" ($lang)
              "headers" ($headers)
              )) }}

          {{ end }}

      </div>

    {{ end }}

</article>
