{{ define "main" }}

    {{ (partial "breadcrumb" .) }}

    {{ if (and (site.Data.api.github.token) (site.Data.api.github.user)) }}
        {{ (partial "module/github/events" .) }}
        <div class="section pt-5">
            {{ (partial "module/github/orgs" .) }}
        </div>
        <div class="section pt-5">
            {{ (partial "module/github/repos" .) }}
        </div>
    {{ else }}
        {{ (partial "function/alert" (dict
        "type" "danger"
        "icon" "fas fa-triangle-exclamation"
        "msg" (i18n "alert.github.not_found")
        )) }}
    {{ end }}

{{ end }}
