{{ $user := (site.Data.api.github.user) }}
{{ $ts := (now.Unix) }}
{{ $headers := (dict
"headers" (dict
"User-Agent" (site.Data.api.user_agent)
"Authorization" (printf "token %s" (((site.Data.api.github.token) | base64Decode) | base64Decode))
)) }}
{{ $url := (printf "https://api.github.com/users/%s/repos?ts=%d" ($user) ($ts)) }}
{{ $repos := (dict) }}

<article>
  <h2 id="repos" class="text-center text-uppercase border-bottom pb-1 mb-3">
    <a href="#repos">{{ (i18n "github.repos") }}</a>
  </h2>
    {{ with (resources.GetRemote ($url) ($headers)) }}
        {{ with (.Err) }}
            {{ errorf "%s" . }}
        {{ else }}
            {{ $repos = (. | transform.Unmarshal) }}
            <div class="row row-cols-1 row-cols-lg-2 g-3">
                {{ range ($repos) }}
                    {{ $id := ((.html_url) | md5) }}
                    <div class="col">
                      <article class="card h-100">
                        <h5 class="card-header">
                          <a href="{{ (.html_url) }}" target="_blank" rel="noopener noreferrer">
                              {{ ((.full_name) | default (.name)) }}
                          </a>
                        </h5>
                        <div class="row g-0 h-100">
                          <div class="col-4">
                            <div class="node-cover text-center p-3">
                              <img src="{{ (.owner.avatar_url) }}" class="img-fluid rounded"
                                   alt="{{ ((.owner.name) | default (.owner.login)) }}" loading="lazy"/>
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="card-body">
                              <div class="node-body">
                                <p class="card-text">
                                    {{ ((.description) | markdownify) }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer text-body-secondary small">
                          <ul class="list-inline m-0">
                              {{ if (.watchers_count) }}
                                <li class="list-inline-item me-3" data-bs-tooltip
                                    data-bs-title='{{ i18n "github.watchers" }}'>
                                  <a class="text-body-secondary" href="{{ (.html_url) }}/watchers" target="_blank"
                                     rel="noopener noreferrer" role="button">
                                    <i class="fas fa-eye fa-fw me-1"></i>
                                      {{ (.watchers_count) }}
                                  </a>
                                </li>
                              {{ end }}
                              {{ if (.stargazers_count) }}
                                <li class="list-inline-item me-3" data-bs-tooltip
                                    data-bs-title='{{ i18n "github.stargazers" }}'>
                                  <a class="text-body-secondary" href="{{ (.html_url) }}/stargazers" target="_blank"
                                     rel="noopener noreferrer" role="button">
                                    <i class="fas fa-star fa-fw me-1"></i>
                                      {{ (.stargazers_count) }}
                                  </a>
                                </li>
                              {{ end }}
                              {{ if (.forks_count) }}
                                <li class="list-inline-item me-3" data-bs-tooltip
                                    data-bs-title='{{ i18n "github.forks" }}'>
                                  <a class="text-body-secondary" href="{{ (.html_url) }}/network/members"
                                     target="_blank"
                                     rel="noopener noreferrer" role="button">
                                    <i class="fas fa-code-branch fa-fw me-1"></i>
                                      {{ (.forks_count) }}
                                  </a>
                                </li>
                              {{ end }}
                              {{ if (.license) }}
                                  {{ $license := ((resources.GetRemote (.license.url) ($headers)) | transform.Unmarshal) }}
                                  <li class="list-inline-item me-3" data-bs-tooltip
                                      data-bs-title='{{ i18n "github.license" }}'>
                                    <a class="text-body-secondary" href="{{ ($license.html_url) }}" target="_blank"
                                       rel="noopener noreferrer" role="button">
                                      <i class="fas fa-copyright fa-fw me-1"></i>
                                        {{ ($license.spdx_id) }}
                                    </a>
                                  </li>
                              {{ end }}
                              {{ with (.name) }}
                                <li class="list-inline-item me-3" data-bs-tooltip
                                    data-bs-title='{{ i18n "github.events" }}'>
                                  <a class="text-body-secondary" href="#"
                                     data-bs-toggle="modal"
                                     data-bs-target="#modal-github-events-{{ ($id) }}"
                                     role="button">
                                    <i class="fas fa-bolt fa-fw"></i>
                                  </a>
                                </li>
                              {{ end }}
                          </ul>
                        </div>
                      </article>
                    </div>
                    {{ (partial "module/github/events.modal" (dict
                    "type" "repos"
                    "id" ($id)
                    "title" (.name)
                    "user" (.owner.login)
                    "repo" (.name)
                    "headers" ($headers)
                    )) }}
                {{ end }}
            </div>
        {{ end }}
    {{ else }}
        {{ errorf "Unable to get remote resource %q" ($url) }}
    {{ end }}
</article>
